<%= form_with(model: company, url: new_employers_company_path) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if company.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', employers_company_path(company.id), method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if company.persisted? %>
      <%= link_to "Cancel", employers_company_path(company.id), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", employers_company_path(company.id), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
