<%= form_with(model: company, url: url) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <%= form.fields_for :address do |form| %>
    <div class="form-group">
      <%= form.label 'Address Line 1' %>
      <%= form.text_field :line_1, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label 'Address Line 2' %>
      <%= form.text_field :line_2, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= form.label :city %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>


    <div class="form-group">
      <%= form.label :state %>
      <%= form.text_field :state, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :zip_code %>
      <%= form.text_field :zip_code, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :country %>
      <%= form.text_field :country, class: 'form-control' %>
    </div>

  <% end %>
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
    <% if company.persisted? %>
      <%= link_to "Cancel", employers_company_path(company.id), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", employers_company_path(company.id), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
