<%= form_with(model: job, url: url) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.select :skill_ids, Skill.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" } %>
  </div>
  <div class="form-group">
    <% if job.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', employers_job_path(job), method: :delete, class: "text-danger", data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if job.persisted? %>
      <%= link_to "Cancel", employers_job_path(job), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", employers_company_jobs_path(current_user.company), class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
