<div class="row">
  <div class="col-sm-6">
    <h1>Jobs</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_employers_company_job_path(current_user.company), class: 'btn btn-primary' do %>
      Add New Job
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Company</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @jobs.includes(:company).each do |job| %>
      <%= content_tag :tr, id: dom_id(job), class: dom_class(job) do %>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.company.name %></td>
        <td>
          <%= link_to 'Show', employers_job_path(job) %>
          <%= link_to 'Edit', edit_employers_job_path(job) %>
        </td>

      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
